*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Ignore IntelliJ Idea
.idea

# Don't include VERSION file
VERSION
